{
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-sql"],
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always",
        "plugins": []
      }
    },
    {
      "files": "*.sql",
      "plugins": [],
      "options": {
        "language": "postgresql",
        "keywordCase": "upper",
        "dataTypeCase": "upper",
        "functionCase": "upper"
      }
    }
  ]
}
